<%- include("layout/header1") %>
<div class="row">
  <div class="col-9">
      <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner">
            <% banners.map((banner, index) => { %>
            <div class="carousel-item <%= index + 1 == 1 ? 'active' : '' %> ">
              <img src="<%= banner.path %>" class="d-block w-100" alt="..." />
            </div>
            <% }) %>

          </div>
          <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
    <nav class="mt-2">

      <div class="nav nav-tabs" id="nav-tab" role="tablist">
        <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab"
          aria-controls="nav-home" aria-selected="true">ประชาสัมพันธ์</a>
        <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab"
          aria-controls="nav-profile" aria-selected="false">กิจกรรม</a>
        <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab"
          aria-controls="nav-contact" aria-selected="false">แหล่งความรู้</a>
      </div>
    </nav>
    <div class="tab-content" id="nav-tabContent">
        <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
          <ul class="list-group">
            <% publics.map((item, index) => { %>
            <li class="list-group-item"><a href="/news/<%= item.id %>"><%= item.title %></a></li>
            <% }) %>
          </ul>
        </div>
        
        <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
          <ul class="list-group">
            <% activities.map((activity, index) => { %>
            <li class="list-group-item"><a href="/news/<%= activity.id %>"><%= activity.title %></a></li>
            <% }) %>
          </ul>
        </div>

        <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
          <ul class="list-group">
            <% activities.map((activity, index) => { %>
            <li class="list-group-item"><a href="/news/<%= activity.id %>"><%= activity.title %></a></li>
            <% }) %>
          </ul>
        </div>
      </div>

    <center>
      <h3 class=" mt-3">ข่าวด่วน</h3>
    </center>
    <div class="row mt-3">
        <% features.map((feature, index) => { %>
          <div class="col-md-4">
            <div class="card">
              <img class="card-img-top" src="<%= feature.thumbnail %>" alt="<%= feature.title %>" />
              <div class="card-body">
                <p class="card-text">
                    <%= feature.title %>
                </p>
                <a href="/news/<%= feature.id %>" class="btn btn-primary">อ่านข่าว</a>
              </div>
            </div>
          </div>
          <% }) %>
          <% features.map((feature, index) => { %>
            <div class="col-md-4">
              <div class="card">
                <img class="card-img-top" src="<%= feature.thumbnail %>" alt="<%= feature.title %>" />
                <div class="card-body">
                  <p class="card-text">
                      <%= feature.title %>
                  </p>
                  <a href="/news/<%= feature.id %>" class="btn btn-primary">อ่านข่าว</a>
                </div>
              </div>
            </div>
            <% }) %>
            <% features.map((feature, index) => { %>
              <div class="col-md-4">
                <div class="card">
                  <img class="card-img-top" src="<%= feature.thumbnail %>" alt="<%= feature.title %>" />
                  <div class="card-body">
                    <p class="card-text">
                        <%= feature.title %>
                    </p>
                    <a href="/news/<%= feature.id %>" class="btn btn-primary">อ่านข่าว</a>
                  </div>
                </div>
              </div>
              <% }) %>
    </div>

    <center>
        <h3 class=" mt-3">รีวิว</h3>
      </center>
    <div class="row mt-3">
        <div class="col-md-4">
          <div class="card">
            <img class="card-img-top" src="https://pbs.twimg.com/profile_images/924844020022386688/CsB-uXT1.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Wongnai</h5>
              <p class="card-text">ได้รับการรีวิวจากเว็บไซต์ wongnai และผู้คนที่ได้ไปวัดพระสิงห์
                ได้มามาแสดงความคิดเห็นต่างๆในเว็บ wongnai
              </p>
              <a href="https://www.wongnai.com/attractions/324881jm-%E0%B8%A7%E0%B8%B1%E0%B8%94%E0%B8%9E%E0%B8%A3%E0%B8%B0%E0%B8%AA%E0%B8%B4%E0%B8%87%E0%B8%AB%E0%B9%8C"
                class="btn btn-primary">เว็บไซต์</a>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card">
            <img class="card-img-top" src="https://skift.com/wp-content/uploads/2017/06/tripadvisor-logo-e1526649519797.png" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">TripAdvisor</h5>
              <p class="card-text">ได้รับการรีวิวจากนักท่องเที่ยว การให้คะแนนโดยนักท่องเที่ยว และความคิดเห็นต่างๆ
                ในเว็บไซต์ TripAdvisor</p>
              <a href="https://th.tripadvisor.com/Attraction_Review-g293917-d447648-Reviews-Wat_Phra_Singh-Chiang_Mai.html"
                class="btn btn-primary">เว็บไซต์</a>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card">
            <img class="card-img-top" src="https://pbs.twimg.com/profile_images/611374523028410368/9am2UBpo.png" alt="Readme.me">
            <div class="card-body">
              <h5 class="card-title">Readme.me</h5>
              <p class="card-text">ได้ที่นักท่องเที่ยวที่เป็นช่างภาพได้มาเขียนรีวิวเกี่ยวกับ วัดพระสิงห์ ในเว็บไซต์ Readme.me และรูปภาพภายในวัดพระสิงห์ </p>
              <a href="https://th.readme.me/p/3933" class="btn btn-primary">เว็บไซต์</a>
            </div>
          </div>
        </div>
      </div>
  </div>
  <div class="col-3">
    <center>
      <h4 class="mt-3"></h4>
      <img src="http://www.วัดพระสิงห์เชียงใหม่.com/images/V10.png" alt="" class=""> <br>
      พระเทพสิงหวราจารย์,ดร.<br>
      (โสภณ โสภโณ)
      <br>
      เจ้าอาวาสวัดพระสิงห์ วรมหาวิหาร
      <br>
      รองเจ้าคณะจังหวัดเชียงใหม่


    </center>
    <div class="fb-page mt-3"
      data-href="https://www.facebook.com/%E0%B8%A7%E0%B8%B1%E0%B8%94%E0%B8%9E%E0%B8%A3%E0%B8%B0%E0%B8%AA%E0%B8%B4%E0%B8%87%E0%B8%AB%E0%B9%8C%E0%B8%A7%E0%B8%A3%E0%B8%A1%E0%B8%AB%E0%B8%B2%E0%B8%A7%E0%B8%B4%E0%B8%AB%E0%B8%B2%E0%B8%A3-158399147626712/"
      data-tabs="" data-width="" data-height="" data-small-header="false" data-adapt-container-width="true"
      data-hide-cover="false" data-show-facepile="true">
      <blockquote
        cite="https://www.facebook.com/%E0%B8%A7%E0%B8%B1%E0%B8%94%E0%B8%9E%E0%B8%A3%E0%B8%B0%E0%B8%AA%E0%B8%B4%E0%B8%87%E0%B8%AB%E0%B9%8C%E0%B8%A7%E0%B8%A3%E0%B8%A1%E0%B8%AB%E0%B8%B2%E0%B8%A7%E0%B8%B4%E0%B8%AB%E0%B8%B2%E0%B8%A3-158399147626712/"
        class="fb-xfbml-parse-ignore"><a
          href="https://www.facebook.com/%E0%B8%A7%E0%B8%B1%E0%B8%94%E0%B8%9E%E0%B8%A3%E0%B8%B0%E0%B8%AA%E0%B8%B4%E0%B8%87%E0%B8%AB%E0%B9%8C%E0%B8%A7%E0%B8%A3%E0%B8%A1%E0%B8%AB%E0%B8%B2%E0%B8%A7%E0%B8%B4%E0%B8%AB%E0%B8%B2%E0%B8%A3-158399147626712/">วัดพระสิงห์วรมหาวิหาร</a>
      </blockquote>
    </div>
    <a target="_blank" href="http://www.cmru.ac.th"
      title="มหาวิทยาลัยราชภัฏเชียงใหม่ : Chiang Mai Rajabhat University - สถาบันอุดมศึกษาเพื่อพัฒนาท้องถิ่น">
      <img src="https://www.cmru.ac.th/assets/images/link/exchange/300_250.jpg" class="w-100 mt-3"
        alt="มหาวิทยาลัยราชภัฏเชียงใหม่"></a>
  </div>
</div>

<%- include("layout/footer2") %>